
.nav {
    margin-bottom: 15px;
    background-color: rgb(3, 3, 113);
    padding: 10px;
}
.list {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: white;
}
.item {
    font-size: 25px;
    transition: text-decoration .25s ease;
    &:hover {
        text-decoration: underline;
    }
}
.active {
    color: blueviolet;
}