.form {
    margin: 0 auto;
    max-width: 380px;
    width: 100%;
    
}
.input{
    font-size: 18px;
    padding: 5px 10px;
    border-color: transparent;
    background-color: rgba(0, 0, 139, .3);
    margin-right: 10px;
    outline: transparent;
}
.btn{
    font-size: 18px;
    padding: 5px 10px;
    background-color: darkblue;
    color: aliceblue;
}